:root {
  /* violet */
  --primary-color: 111, 76, 255;

  /* white */
  --text-color: 256, 256, 256;
}

.button {
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
  transition: all 0.3s ease;
}

.button-gradient {
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  border: 0;
  color: rgba(var(--text-color))
}

.button-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
